# Dependency directories (where external libraries live)
node_modules/
.cache/

# Log files
*.log
npm-debug.log*

# Downloaded music / media (so your personal tracks stay local)
*.mp3
*.m4a
*.wav
downloads/
me.txt

# Operating system files
.DS_Store
Thumbs.db

# Please change later! NO PACKAGE.JSON HERE!!!