# Node-Abhängigkeiten der UI
node_modules/
music/
# Temporärer Rust-Build-Müll von Tauri (wird gigantisch groß!)
src-tauri/target/

# Von Tauri generierte Dateien
src-tauri/gen/

# Lokale Log-Dateien von npm-Fehlern
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Betriebssystem-Dateien (z.B. Mac/Windows Thumbnails)
.DS_Store
Thumbs.db

1781966821943-player-script.js
1781966821948-player-script.js

# Nur diese speziellen Cache-Dateien ignorieren, die mit Zahlen beginnen
[0-9]*-player-script.js
backend/